<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style_v3.css">
    <link rel="icon" href="imagem/favicon.png">
    <title>ENGLISH MOVIE BR</title>
</head>

<body>

<header class="col-lg-12 col-sm-12 fixed-top">
 
  <div class="slider">
      <h3>CLICK NA IMAGEM PARA REALIZAR O DOWNLOAD</h3>
      <span onmouseover="scrollEsquerda()" onmouseout="clearScroll()" class="handle handlePrev active">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </span>

      <div id="scroller" class="row">
        <div class="row__inner">

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa14.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa15.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa16.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa17.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa18.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa19.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

           <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa20.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

        </div>

      </div>
      <span onmouseover="scrollDireita()" onmouseout="clearScroll()"  class="handle handleNext active">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </span>
    </div>

  <div class="menu">
  
  <div class="Quadros-menu">
  
  <div class="Quadro-button">
      <img src="imagem/load.gif">
      <a href="#">COMPRAR</a>
  </div> 

  </div>

  </div>

</header>

<div class="Quadro-comprar col-lg-12 col-md-12 col-sm-12">

<div class="Quadro-central col-lg-10 col-md-10 col-sm-10">
    <p>O QUE VOCÊ VAI PRATICAR AQUI NA INGLES MOVIES</p>
</div>  

</div>
<div class="Quadro-nodification col-lg-12 col-md-12 col-sm-12">

<div class="Quadro-central-nodification col-lg-6 col-md-6 col-sm-6">

<div class="Quadros-inside col-lg-3 col-md-3 col-sm-3">
    <img src="imagem/cerebro.png">
    <p>MEMORIZAÇÃO</p>
</div>
<div class="Quadros-inside col-lg-3 col-md-3 col-sm-3">
    <img src="imagem/leitura.png">
    <p>LEITURA</p>
</div>
<div class="Quadros-inside col-lg-3 col-md-3 col-sm-3">
    <img src="imagem/escuta.png">
    <p>ESCUTA</p>
</div>   

</div>

</div>


<div class="slider">
      <h3>CLICK NA IMAGEM PARA REALIZAR O DOWNLOAD</h3>
      <span onmouseover="scrollEsquerdaNew()" onmouseout="clearScrollNew()" class="handle handlePrev active">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </span>

      <div id="scrollerNew" class="row">
        <div class="row__inner">

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa21.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa22.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa23.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa24.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa25.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa26.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

           <div class="gui-card">
            <div class="gui-card__media">
              <img class="gui-card__img" src="imagem/capa27.jpg" alt=""  />
            </div>
            <div class="gui-card__details">
              <div class="gui-card__title">
                <img src="imagem/torrent_00.png" class="img-fluid">
              </div>
            </div>
          </div>

        </div>

      </div>
      <span onmouseover="scrollDireitaNew()" onmouseout="clearScrollNew()"  class="handle handleNext active">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </span>
    </div>


<div class="wallpaper-black">
    <div class="wallpaper-black-title">
        <p>COMO FUNCIONA NOSSO SISTEMA DE APRENDIZADO</p>
    </div>
    <div class="wallpaper-black-title">
        <p>GARANTA A VERSÃO PREMIUM E VOCÊ VERÁ A MAGICA ACONTECER.</p>
    </div>
</div>

<div class="show-video col-lg-12 col-md-12 col-sm-12">

<div class="video col-lg-12 col-md-12 col-sm-12">
    
<video width="100%" height="100%" controls="controls" autoplay="autoplay" id="video-player">

<source src="/video.mp4" type="video/mp4">

</video>

</div>
    
</div>


<div class="player" id="animation">

<div class="autoplayer">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-badge-3d-fill" viewBox="0 0 16 16">
  <path d="M10.157 5.968h-.844v4.06h.844c1.116 0 1.621-.667 1.621-2.02 0-1.354-.51-2.04-1.621-2.04z"/>
  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm5.184 4.368c.646 0 1.055.378 1.06.9.008.537-.427.919-1.086.919-.598-.004-1.037-.325-1.068-.756H3c.03.914.791 1.688 2.153 1.688 1.24 0 2.285-.66 2.272-1.798-.013-.953-.747-1.38-1.292-1.432v-.062c.44-.07 1.125-.527 1.108-1.375-.013-.906-.8-1.57-2.053-1.565-1.31.005-2.043.734-2.074 1.67h1.103c.022-.391.383-.751.936-.751.532 0 .928.33.928.813.004.479-.383.835-.928.835h-.632v.914h.663zM8.126 11h2.189C12.125 11 13 9.893 13 7.985c0-1.894-.861-2.984-2.685-2.984H8.126V11z"/>
</svg>
</div>

</div>
<div class="player" id="animation">

<div class="autoplayer">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-badge-8k-fill" viewBox="0 0 16 16">
  <path d="M3.9 6.605c0 .51.405.866.95.866.545 0 .945-.356.945-.866s-.4-.852-.945-.852c-.545 0-.95.343-.95.852zm-.192 2.668c0 .589.492.984 1.142.984.646 0 1.143-.395 1.143-.984S5.496 8.28 4.85 8.28c-.65 0-1.142.404-1.142.993z"/>
  <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm5.17 7.348c0 1.041-.927 1.766-2.333 1.766-1.406 0-2.312-.72-2.312-1.762 0-.954.712-1.384 1.257-1.494v-.053c-.51-.154-1.02-.558-1.02-1.331 0-.914.831-1.587 2.088-1.587 1.253 0 2.083.673 2.083 1.587 0 .782-.523 1.182-1.02 1.331v.053c.545.11 1.257.545 1.257 1.49zM12.102 5h1.306l-2.14 2.584 2.232 3.415h-1.428l-1.679-2.624-.615.699v1.925H8.59V5h1.187v2.685h.057L12.102 5z"/>
</svg>
</div>
<div class="autoplayer">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-badge-4k-fill" viewBox="0 0 16 16">
  <path d="M3.577 8.9v.03h1.828V5.898h-.062a46.781 46.781 0 0 0-1.766 3.001z"/>
  <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm2.372 3.715.435-.714h1.71v3.93h.733v.957h-.733V11H5.405V9.888H2.5v-.971c.574-1.077 1.225-2.142 1.872-3.202zm7.73-.714h1.306l-2.14 2.584L13.5 11h-1.428l-1.679-2.624-.615.7V11H8.59V5.001h1.187v2.686h.057L12.102 5z"/>
</svg>
</div>
    
</div>
<div class="player" id="animation">

<div class="autoplayer">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-badge-hd-fill" viewBox="0 0 16 16">
  <path d="M10.53 5.968h-.843v4.06h.843c1.117 0 1.622-.667 1.622-2.02 0-1.354-.51-2.04-1.622-2.04z"/>
  <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm5.396 3.001V11H6.209V8.43H3.687V11H2.5V5.001h1.187v2.44h2.522V5h1.187zM8.5 11V5.001h2.188c1.824 0 2.685 1.09 2.685 2.984C13.373 9.893 12.5 11 10.69 11H8.5z"/>
</svg>
</div>

</div>


<div class="Go col-lg-12 col-md-12 col-sm-12">

<div class="container">
<div class="container-token">
    <form action="/your-token" method="POST">

        <label>VOCÊ QUE TEM A VERSÃO PRO COLOQUE O TOKEN E SEJA FLUENTE:</label>
        <input type="text" name="token">
        
        <button type="submit">VERIFICAR</button>
    </form>
</div>

<div class="container-token">
    <p>DOWNLOAD LEGENDA DOS FILMES:</p>
</div>

<div class="container-download">
   
<a href="/download/1">DOWNLOAD</a>

</div>

</br>

<div class="container-token">
    <h1>AGORA QUE VOCÊ FEZ O DOWNLOAD DAS LEGENDAS VAMOS LÁ</h1>
</div>

</br>

<div class="container-token">
    <p>VAMOS LÁ DIGITE AS FRASES EM ENGLISH QUE ESTA NA LEGENDA PODE ABRIR COM BLOCO DE NOTAS MESMO OU SEU SOFTWARE FAVORITO.</p>
</div>

</br>

<div class="container-token">

<form action="/traducao" method="POST">
    
    <img src="imagem/chave.png" class="img-fluid" width="25px" height="25px">

    <label>CHAVE ID NOVAMENTE:</label>

    <input type="text" name="movie">
    
    <label>LEGENDAS EM ENGLISH DO SEU FILME FAVORIDO:</label>

    <input type="text" name="palavras">
        
    <button type="submit" class="alert00" id="other-color">VERIFICAR</button>

</form>

</div>

</br>

<div class="container-token">

<p>TRADUAÇÃO</p>
<p>NÃO SE PREOCUPE COM VARIAS TRADUÇÕES NA SUA TELA SÓ SERÁ FEITO O DOWNLOAD DAS SUAS TRADUÇÕES; POR ISSO, TEM A CHAVE ID.</p>
<p style="color:red;">ATENÇÃO CASO AS TRADUÇÕES NÃO APAREÇA NO PRIMEIRO CLIQUE ENTÃO CLIQUE NA URL DO SITE NOVAMENTE NESSA MESMO /TRADUCAO CASO NÃO APAREÇA CLIQUE NOVAMENTE NA SEGUNDA FUNCIONARÁ.</p>

 <%traducao.forEach(nomes=>{%>
    <p class="tradutions"><%=nomes.ingles%></p>
    <p class="tradutions"><%=nomes.traducao%></p>
  <%})%>

</div>

<div class="container-token">
    <form action="/criar-anki" method="POST">
        
        <img src="imagem/chave.png" class="img-fluid" width="25px" height="25px">

        <label>CHAVE ID NOVAMENTE:</label>
        <input type="text" name="nome"> 

        <label>DE UM NOME PARA O SEU BARALHO:</label>
        <input type="text" name="baralho">
        
        <button style="background-color: var(--bs-primary);" type="submit" class="alert01">CRIAR</button>
    </form>
</div>


<div class="container-download" id="put-flex">

<img src="imagem/anki.png" width="30px" height="30px">   
<a href="/gerar-anki" class="add">GERAR CARD ANKI</a>

</div>

</br>

<div class="container-token">
   
<p>AGORA QUE VOCÊ ADICIONOU TODAS AS SUAS FRASES, COLOQUE NOVAMENTE O NOME DO SEU BARALHO ANKI E CLIQUE EM DOWNLOAD CARD ANKI.</p>

</div>

</br>

<div class="container-token">

<form action="/verificar" method="POST">
    
    <label>NOME DO SEU CARD ANKI NOVAMENTE:</label>

    <input type="text" name="verificar">
        
    <button type="submit" id="other-color" class="alert02">VERIFICAR</button>

</form>

</div>

</br>

<div class="container-download" id="download">

<img src="imagem/anki.png" width="30px" height="30px">   
<a href="/anki/1" class="alert03">DOWNLOAD CARD ANKI</a>

</div>

</br>

<div class="container-token">

<p> MUITO BEM! AGORA QUE VOCÊ FEZ O DOWNLOAD DO SEU ANKI CARD MARQUE NO FINAL DELE OS MINUTOS QUE VOCÊ PAROU DE COLOCAR AS FRASES DO SEU FILME FAVORITO APOS ISSO GARANTA A VERSÃO PREMIO E SEJA FLUENTE EM ENGLISH.</p>

</div>

</br>

<div class="container-token">

<p style="color: red;">ATENÇÃO APOS 24 HORAS SEU ANKI CARD SERÁ EXCLUÍDO PARA NOSSA BASE DE DADOS NÃO FICAR LOTADA.</p>

</div>

</br>

<div class="container-token">

<p style="color: var(--bs-success);">

VAMOS LÁ AGORA QUE VOCÊ TEM OS ANKI CARDS AGORA QUE VOCÊ TEM O FILME EM FULL HD E AS LEGENDAS SINCRONIZADAS COM O FILME GARANTA A VERSÃO PREMIUM E SEJA FLUENTE EM ENGLISH DE UMA FORMA RÁPIDA PRATICA, BARATA E O MELHOR NA SUA CASA.  

</p>

</div>
  
</div>

</div>

<footer>
  
<div class="Quadros-footer" id="footer">

<p>SUPORTE</p>
<p>QUALQUER DUVIDA REFERENTE AO TOKEN E TAMBÉM AO METODO DE APRENDIZADO MANDE UM E-MAIL</p>
<p>lipe.tr@hotmail.com</p>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
  <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
</svg>
</div>
<div class="Quadros-footer">
  
<img src="imagem/wallpaper_footer_3d.png">

</div>

</footer>


<!-- aqui é a modal comprar-->

<div class="container-central" id="container-central">

<div class="modal-central fixed-top">

<div class="Quadro-modal">

<div class="Quadro-title-modal">
<svg id='close-comprar' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg>
</div>

<div class="Quadro-forme">

<p style="color:white;">SEJA FLUENTE POR APENAS 100 REAIS</p>
<p style="color:white;">VOCÊ PODE COMPRA TAMBÉM PELA HORTMART</p>
<a style='color:orange; text-decoration:none;' href="https://pay.hotmart.com/J83278715C">HORTMART</a>

<form action="/comprar" method="POST" id="formulario">
  
<label>NOME E SOBRE NOME</label>
<input type="txt" name="nome">
<label>EMAIL</label>
<input type="text" name="email">
</br>
<button type="submit">FINALIZAR COMPRA</button>
</form>
  
</div>

</div>
  
</div>

</div>

<!-- aqui é a modal -->


<!--<div class="alerts fixed-top">
<div class="title-alerts">

<svg id='close-alerts' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg>
  
</div>

<div class="Quadro-central-alerts">

<div class="Quadro-alerts">



  
</div>

</div>

</div>-->


<script src="https://kit.fontawesome.com/3819a0468e.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</body>

<script type="text/javascript">
    
let gifs = document.querySelectorAll('.Quadro-button img');
let links = document.querySelectorAll('.Quadro-button a');
let buttons = document.querySelectorAll('.Quadro-button');

buttons[0].addEventListener('click',function(){

gifs[0].style.display = 'block';
links[0].style.display = 'none';

setTimeout(()=>{

gifs[0].style.display = 'none';
links[0].style.display = 'block';

let container = document.querySelector('#container-central');

container.style.display = 'block';

},1000)

});


buttons[1].addEventListener('click',function(){

gifs[1].style.display = 'block';
links[1].style.display = 'none';

setTimeout(()=>{

gifs[1].style.display = 'none';
links[1].style.display = 'block';

let container = document.querySelector('.container-central');

container.style.display = 'block';

},1000)

});


</script>


<script type="text/javascript">
    
var intervalo;

function scrollDireita(){
  intervalo = setInterval(function(){ document.getElementById('scroller').scrollLeft += 1 }  , 5);
};
function scrollEsquerda(){
  intervalo = setInterval(function(){ document.getElementById('scroller').scrollLeft -= 1 }  , 5);
};
function clearScroll(){
  clearInterval(intervalo);
};

</script>

<script type="text/javascript">
  
var intervaloNew;

function scrollDireitaNew(){
  intervaloNew = setInterval(function(){ document.getElementById('scrollerNew').scrollLeft += 1 }  , 5);
};
function scrollEsquerdaNew(){
  intervaloNew = setInterval(function(){ document.getElementById('scrollerNew').scrollLeft -= 1 }  , 5);
};
function clearScrollNew(){
  clearInterval(intervaloNew);
};

</script>

<script type="text/javascript">

$(document).ready(function() {
     $('#video-player').prop('muted',true).play();
 });    

</script>

<script type="text/javascript">
    


//console.log(numbers);

window.addEventListener('scroll',function(){

let numbersTop = window.scrollY;

console.log(numbersTop+1);

});

</script>


<script type="text/javascript">
  
$('.add').click(()=>{

alert('Muito bem agora coloque o nome do seu card anki novamente');

});

</script>

<script type="text/javascript">
  

let close_comprar = document.getElementById('close-comprar');

close_comprar.addEventListener('click',function(){

let container = document.querySelector('#container-central');

container.style.display = 'none';

});

</script>

<script type="text/javascript">
  
let alert00 = document.querySelector('.alert00');

alert00.addEventListener('click',function(){
  alert('Muito bem pode ir colocando suas legendas nosso sistema vai traduzir');
});

let alert01 = document.querySelector('.alert01');

alert01.addEventListener('click',function(){
  alert('Muito bem agora clique em gerar card anki');
});

let alert02 = document.querySelector('.alert02');

alert02.addEventListener('click',function(){
  alert('Muito bem agora você pode clicar em download card anki');
});

</script>

<script type="text/javascript">
  
let downloads = document.querySelectorAll('.gui-card');

downloads[0].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:bf108f1c50281f6f6d5d868e63f697c5415aecaf&amp;dn=La%20Casa%20de%20Papel%20S05%20(Parte%2001)%202021%201080p%20WEB-DL%20DUAL%205.1&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.publicbt.com%3a80%2fannounce';

});

downloads[1].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:82B8CFFD37CC7A37C08942C2774BAB5FAA003AF2&amp;dn=La%20Casa%20de%20Papel%202018%20-%202%C2%AA%20Temporada%20Completa%20%281080p%29%20WWW.BLUDV.COM&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&amp;tr=udp%3a%2f%2f9.rarbg.to%3a2780%2fannounce&amp;tr=udp%3a%2f%2fexplodie.org%3a6969%2fannounce&amp;tr=http%3a%2f%2fglotorrents.pw%3a80%2fannounce&amp;tr=udp%3a%2f%2fp4p.arenabg.com%3a1337%2fannounce&amp;tr=udp%3a%2f%2ftorrent.gresille.org%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.aletorrenty.pl%3a2710%2fannounce&amp;tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969%2fannounce&amp;tr=udp%3a%2f%2ftracker.piratepublic.com%3a1337%2fannounce';

});


downloads[2].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:ZSJFSEQ3XJ5YH6FEEBTHFFSMEERTWXPL&amp;dn=%5BACESSE%20COMANDOTORRENTS.COM%5D%20La%20Casa%20de%20Papel%203%C2%AA%20Temporada%20Completa%202019%20%5B1080p%5D%20%5BWEB-DL%5D%20%5BDUAL%5D';

});

downloads[3].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:H7VV5IPXN6RBBOU2BKYBEB4GLS4CJJBE&amp;dn=COMANDO.TO%20-%20La%20Casa%20de%20Papel%204%C2%AA%20Temporada%20Completa%202020%20%5B720p%5D%20%5BDUAL%5D';

});


downloads[4].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:bf108f1c50281f6f6d5d868e63f697c5415aecaf&amp;dn=COMOEUBAIXO.COM.PARTE.MKV.La%20Casa%20de%20Papel%20S05%20(Parte%2001)%202021%201080p%20WEB-DL%20DUAL%205.1&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.publicbt.com%3a80%2fannounce';

});

downloads[5].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:99042f0b7f0f4ea7b3ba2ac942e9c72175e2b1c0&amp;dn=Ted+%282012%29+BDRip+1080p+Dublado+ToTTi9&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fzer0day.ch%3A1337&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Fpublic.popcorn-tracker.org%3A6969';

});


downloads[6].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:C89C87EB863C4CB0638298C661BB4843EDD344B2&amp;dn=Ted%202%20%282015%29%20BRRip%201080p%20Dublado%20-%20DouglasTPF&amp;tr=udp%3a%2f%2f9.rarbg.to%3a2710%2fannounce&amp;tr=%2audp%3a%2f%2fopen.demonii.com%3a1337%2fannounce&amp;tr=udp%3a%2f%2f9.rarbg.me%3a2710%2fannounce&amp;tr=http%3a%2f%2fpow7.com%2fannounce&amp;tr=http%3a%2f%2ft2.pow7.com%2fannounce&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=http%3a%2f%2ft1.pow7.com%2fannounce&amp;tr=http%3a%2f%2fsecure.pow7.com%2fannounce&amp;tr=udp%3a%2f%2fglotorrents.pw%3a6969%2fannounce&amp;tr=udp%3a%2f%2feddie4.nl%3a6969%2fannounce&amp;tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&amp;tr=http%3a%2f%2ftracker.pubt.net%3a2710%2fannounce&amp;tr=udp%3a%2f%2ftorrent.gresille.org%3a80%2fannounce&amp;tr=udp%3a%2f%2fp4p.arenabg.ch%3a1337%2fannounce&amp;tr=udp%3a%2f%2fexplodie.org%3a6969%2fannounce&amp;tr=udp%3a%2f%2fwww.eddie4.nl%3a6969%2fannounce&amp;tr=http%3a%2f%2fmgtracker.org%3a2710%2fannounce';

});


downloads[7].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:8EA99BC5436AF58F9E4C480AD0F7A2556510F9C5&amp;dn=Zohan%20O%20Agente%20Bom%20de%20Corte%202008%20%5b1080p%5d%20WWW.BLUDV.COM&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969%2fannounce&amp;tr=udp%3a%2f%2fglotorrents.pw%3a6969%2fannounce&amp;tr=udp%3a%2f%2fp4p.arenabg.com%3a1337%2fannounce&amp;tr=udp%3a%2f%2fexplodie.org%3a6969%2fannounce&amp;tr=udp%3a%2f%2ftracker.aletorrenty.pl%3a2710%2fannounce&amp;tr=udp%3a%2f%2f9.rarbg.to%3a2780%2fannounce&amp;tr=udp%3a%2f%2ftorrent.gresille.org%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&amp;tr=udp%3a%2f%2ftracker.piratepublic.com%3a1337%2fannounce';

});


downloads[8].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:F144BAD18DA96DC727F3D183A367CDA59280815F&amp;dn=Fast.X.2023.1080p.HDCAM.Dublado.V.3.mkv&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&amp;tr=wss%3a%2f%2ftracker.btorrent.xyz&amp;tr=http%3a%2f%2ftrax.corbina.net%3a6969%2fannounce';

});

downloads[9].addEventListener('click',()=>{

window.location = 'magnet:?xt=urn:btih:729596b99c5f5e077c27aa7e9006299054a2d653&amp;dn=O%20Exorcista%20do%20Papa%202023%201080p%20WEB-DL%20DUAL%205.1&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce';

});

downloads[10].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:22BC1A7FF045A53EB839F5AF3F02BA707DD1F830&amp;dn=Vingan%C3%A7a%20Entre%20Assassinos%202009%20%281080p%29%20WWW.BLUDV.COM&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&amp;tr=udp%3a%2f%2f9.rarbg.to%3a2740%2fannounce&amp;tr=udp%3a%2f%2fexplodie.org%3a6969%2fannounce&amp;tr=http%3a%2f%2fglotorrents.pw%3a80%2fannounce&amp;tr=udp%3a%2f%2fp4p.arenabg.com%3a1337%2fannounce&amp;tr=udp%3a%2f%2ftorrent.gresille.org%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.aletorrenty.pl%3a2710%2fannounce&amp;tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969%2fannounce&amp;tr=udp%3a%2f%2ftracker.piratepublic.com%3a1337%2fannounce';

});

downloads[11].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:7D75802E171B1BD3A83FDED3E141B9CAB02AE574&amp;dn=De%20Volta%20ao%20Jogo%202014%20%281080p%29%20DUBLADO&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&amp;tr=udp%3a%2f%2f9.rarbg.to%3a2800%2fannounce&amp;tr=udp%3a%2f%2fexplodie.org%3a6969%2fannounce&amp;tr=udp%3a%2f%2fglotorrents.pw%3a6969%2fannounce&amp;tr=udp%3a%2f%2fp4p.arenabg.com%3a1337%2fannounce&amp;tr=udp%3a%2f%2ftorrent.gresille.org%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.aletorrenty.pl%3a2710%2fannounce&amp;tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969%2fannounce&amp;tr=udp%3a%2f%2ftracker.piratepublic.com%3a1337%2fannounce';

});

downloads[12].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:9B0501CCF9162EF8095D6DA69133E63028924641&amp;dn=John%20Wick%20-%20Um%20Novo%20Dia%20Para%20Matar%202017%20%5bBluRay%5d%20%281080p%29&amp;tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&amp;tr=udp%3a%2f%2f9.rarbg.to%3a2800%2fannounce&amp;tr=udp%3a%2f%2fexplodie.org%3a6969%2fannounce&amp;tr=http%3a%2f%2fglotorrents.pw%3a80%2fannounce&amp;tr=udp%3a%2f%2fp4p.arenabg.com%3a1337%2fannounce&amp;tr=udp%3a%2f%2ftorrent.gresille.org%3a80%2fannounce&amp;tr=udp%3a%2f%2ftracker.aletorrenty.pl%3a2710%2fannounce&amp;tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969%2fannounce&amp;tr=udp%3a%2f%2ftracker.piratepublic.com%3a1337%2fannounce';

});

downloads[13].addEventListener('click',()=>{

window.location.href = 'magnet:?xt=urn:btih:0518a212d7affe56ac5c8cb37aa2e8ee94d90551&amp;dn=John.Wick.Chapter.4.2023.1080p.WEB-DL.DDP5.1.Atmos.H264-WDYM&amp;tr=http%3A%2F%2Ftracker.trackerfix.com%3A80%2Fannounce&amp;tr=udp%3A%2F%2F9.rarbg.me%3A2850&amp;tr=udp%3A%2F%2F9.rarbg.to%3A2820&amp;tr=udp%3A%2F%2Ftracker.slowcheetah.org%3A14750&amp;tr=udp%3A%2F%2Ftracker.fatkhoala.org%3A13750';

});



</script>

<script type="text/javascript">
  

let md_alerts = document.querySelector('.alerts');

let close_alerts = document.getElementById('close-alerts');

close_alerts.addEventListener('click',()=>{

md_alerts.style.display = 'none';

});

</script>

<script type="text/javascript">
  

$(document).ready(function () {
        //window.onload = window.alert("entrou aqui");

window.onload = function () {
            
let md_alerts = document.querySelector('.alerts');

md_alerts.style.display = 'block';

}

});

</script>

</html>
